.alpackages/Default publisher_Millenium_1.0.0.0.app
.alpackages/Microsoft_Application_20.0.37253.38362.app
.alpackages/Microsoft_Base Application_20.0.37253.40470.app
.alpackages/Microsoft_Base Application_20.0.37253.40949.app
.alpackages/Microsoft_System Application_20.0.37253.40225.app
.alpackages/Microsoft_System_20.0.37114.38020.app
.alpackages/Robosol_Robosol_Base_Application_19.0.0.0.app
.alpackages/Robosol_SalesAreaChanges_19.0.0.0.app
Codeunits/CU_50150_LowStockNotification.al
Default publisher_Mill_Changes_1.0.0.0.app
.alpackages/Default publisher_Millenium_1.0.0.0.app
app.json
.vscode/launch.json
.vscode/rad.json
